<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5c788ed45a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main-container">

        <h1>To Do App</h1>
        <form action="">
            <label for="">Create your ToDo Description :-</label>
            <br>
            <input id="input" type="text" placeholder="Write a new ToDo">
            <div class="container">
                <div id="category">
                    <label for="">
                        <i class="fa-solid fa-eye"></i>
                        Category :-
                    </label>
                    <select name="" id="">
                        <option value="">Choose a category</option>
                        <option value="">Home</option>
                        <option value="">School</option>
                        <option value="">Office</option>
                        <option value="">others</option>
                    </select>
                </div>
                <div id="date">
                    <label for="">
                        <i class="fa-solid fa-calendar-days"></i>
                        Date :-
                    </label>
                    <input type="date">
                </div>
            </div>
            <div class="container">
                <div id="btn1">
                    <button id="button1">
                        <i class="fa-solid fa-plus"></i>
                        Add Task
                    </button>
                </div>
                <div id="btn2">
                    <button id="button2">
                        <i class="fa-solid fa-trash-can"></i>
                        Delete Task
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>